@import "tailwindcss";

:root {
  --primary: #2563eb;
  --secondary: #1e40af;
  --dark: #1e293b;
  --light: #f8fafc;
  --accent: #f59e0b;
}

body {
  background-color: var(--light);
  color: var(--dark);
}

.tech-icon {
  transition: all 0.3s ease;
}

.tech-icon:hover {
  transform: translateY(-5px);
}